/* more general stuff */
.headerContainer {
    display: flex;
    flex-direction: row;
    background-color: burlywood;

    /* margin-top: 7rem;
    margin-bottom: 2rem; */


}

#sectionIndaBack {
    display: flex;
}


.flexTop {
    display: flex;
    font-size: 1.8rem;
    padding: 2rem;
    max-width: 20%;
    text-align: center;
    border: 0.1rem solid #56a5eb;
    margin: 1rem;
    text-decoration: none;
    color: #56a5eb;
    background-color: white;
}



#right {
    object-position: end;
    -webkit-border-radius: 40px 0px 0px 40px;
    -moz-border-radius: 40px 0px 0px 40px;
    border-radius: 40px 0px 0px 40px;

}

/* #middleDiv { */
/* position: cent;
    -webkit-border-radius: 40px 40px 40px 40px;
    -moz-border-radius: 40px 40px 40px 40px;
    border-radius: 40px 40px 40px 40px;
    background-image: url("./assets/quitTopDiv.jpg");
    background-attachment: fixed;
    background-position: static; */
/* } */

#left {
    position: start;
    -webkit-border-radius: 0px 40px 40px 0px;
    -moz-border-radius: 0px 40px 40px 0px;
    border-radius: 0px 40px 40px 0px;

}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    /* max-width: 80rem; */
    /* maz-width: 80rem; */
    /* height: 100rem; */
}

#question {
    text-align: center;
}

/* for the main page where JS will render the questions */
.flexCenter {
    display: flex;
    flex-direction: column;
    /* content: -webkit-flex; */
    justify-content: center;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid rgb(86, 165, 235, 0.25);
    background-color: rgb(22, 151, 140);
    -webkit-border-radius: 0px 0px 40px 40px;
    -moz-border-radius: 0px 0px 40px 40px;
    border-radius: 0px 0px 40px 40px;
    box-shadow: inset 2px 2px 41px -5px black;
}

.choiceContainer {
    box-shadow: inset 2px 2px 41px -5px black;
    background-color: rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
    display: flex;
    -webkit-border-radius: 40px 40px 40px 40px;
    -moz-border-radius: 40px 40px 40px 40px;
    border-radius: 40px 40px 40px 40px;

}


.choicePrefix {
    cursor: pointer;
    padding: 1.5rem 2.5rem;
    margin-left: 3rem;
    background-color: #225a01;
    color: slategray;
    -webkit-border-radius: 40px 0px 40px 0px;
    -moz-border-radius: 40px 0px 40px 0px;
    border-radius: 40px 0px 40px 0px;
}


.choiceText {
    padding: 1.5rem;
    margin-left: 7rem;
}

.btn {
    font-size: 1.8rem;
    padding: 1rem 0;
    width: 20rem;
    text-align: center;
    border: 0.1rem solid #56a5eb;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #56a5eb;
    background-color: white;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

/* high score shit */

#highScoresList {
    list-style: none;
    padding-left: 0;
    margin-bottom: 4rem;
}

.high-score {
    font-size: 2.8rem;
    margin-bottom: 0.5rem;
}

.high-score:hover {
    transform: scale(1.025);
}


/* some more shit */
form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin-bottom: 1rem;
    width: 20rem;
    padding: 1.5rem;
    font-size: 1.8rem;
    border: none;
    box-shadow: 0 0.1rem 1.4rem 0 rgba(86, 185, 235, 0.5);
}


/* some pre defined classes..... i think that wierd red squshy thing inside my head has had a lightbulb moment.... */
input::placeholder {
    color: #aaa;
}

/* maybe i could fix up ----1ONE1 BADASS---- style.css sheetwith a bunch of generic shit like the following lines of code and get real famular with my pre built css .# thingys and then every time i start a new project i will automaticaly link it..... perhaps i shall call it flipFlopStrap.css!!!!
  HEY! dont go stealing my awsome idea and change the name to... something like shoeLace or something equally as lame */

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}